<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="entities_types" value="QUEUE,WATCHING,WATCHED,TAKED_DOWN, WANT_TO" />
    
    <add key="anime_categories" value="SERIE,OVA,MOVIE,SPECIAL,WEB" />
    <add key="manga_categories" value="MANGA,MANHWA" />
 


  </appSettings>
</configuration>