<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>


    <add key="entities" value="Anime,Manga"/>
    <add key="custom_entities" value=""/>
    
    <add key="entities_types" value="QUEUE,WATCHING,WATCHED,TAKED_DOWN, WANT_TO" />
    
    <add key="anime_categories" value="SERIE,OVA,MOVIE,SPECIAL,WEB" />
    <add key="manga_categories" value="MANGA,MANHWA" />


    <add key="lang" value="en-US"/>

    <add key="useProxy" value="false"/>
    <add key="proxy_host" value="10.0.0.1:8080"/>
    <add key="proxy_credentials" value="user,pass,domain"/>

  </appSettings>
  
</configuration>