<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AKwin32.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AKwin32.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AKwin32.Properties.Settings>
            <setting name="frmBackGroundColor" serializeAs="String">
                <value>255, 255, 192</value>
            </setting>
            <setting name="UiFontsStyles" serializeAs="String">
                <value>Comic Sans MS, 9pt, style=Bold</value>
            </setting>
            <setting name="UiFontsColor" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="UiControlsFontsStyle" serializeAs="String">
                <value>Arial Narrow, 9pt, style=Bold</value>
            </setting>
            <setting name="ApplicationCulture" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="ApplicationFirstRunning" serializeAs="String">
                <value>True</value>
            </setting>
        </AKwin32.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AKwin32.Properties.Settings>
            <setting name="ApplicationProductUrl" serializeAs="String">
                <value>http://bluegletek.com/products/animekakkoi.aspx</value>
            </setting>
            <setting name="ApplicationMetadataUrl" serializeAs="String">
                <value>http://bluegletek.com/bws/ak_metadata.xml</value>
            </setting>
        </AKwin32.Properties.Settings>
    </applicationSettings>
</configuration>